body {
  margin: 0;
  background-color: #2C2B3D ;
  bottom: 157px;
}

.page {
  width: 1092px;
  height: 280px;
  left: 100px;
  top: 200px;
  margin:71px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 100px 100px 100px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  color:  #FFFFFF;
  font-family: 'JetBrains Mono';
  font-size: 14px;
  line-height: 28px;
}

a {
  color: white;
  text-decoration: none;

}

ul li a:hover {
  font-weight: bold;
  color: #00BFA6;
}


h1 {
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
  font-family:'JetBrains Mono';
  line-height: 40px;
}

p {
  font-size: 16px;   
  font-family: 'Open Sans';
  color: #C2C2C2;
  text-align: center;
  line-height: 28px;
}

.p1 {
  margin: 40px 0;
}

span {
  color: #00BFA6;
}

footer p {
  font-size:14px ;
  line-height: 28px;  
  color:#FFFFFF ;
  text-align: center;
  font-family:'JetBrains Mono';
} 

footer a {
  font-weight: bold;
  font-family:'JetBrains Mono';
  color:  white;
}

#line {
  width:568px ;
  height: 0px;
  margin: 200px auto 23px ;
  border:  solid 1px #00BFA6;
  top: 157px;
}

.cadeado {
  position: fixed;
  bottom: 20px;
  left: 20px;
}